<configuration>
  <components>
    <component  id="IStaffService" service="QLAC.IServices.IStaffService, QLAC"  type="QLAC.Services.StaffService, QLAC" lifestyle="transient">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component  id="IShiftService" service="QLAC.IServices.IShiftService, QLAC"  type="QLAC.Services.ShiftService, QLAC" lifestyle="transient">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

  </components>
</configuration>
