<configuration>
  <components>
    <component  id="IAdminService" service="ProtoQLCA.IService.IAdminService, ProtoQLCA"  type="ProtoQLCA.Service.AdminService, ProtoQLCA" lifestyle="transient">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <!--<component  id="IPaymentService" service="EInvoice.VJCore.IService.IPaymentService, EInvoice.VJCore"  type="EInvoice.VJCore.ServiceImp.PaymentService, EInvoice.VJCore" lifestyle="transient">
      <parameters>
        <sessionFactoryConfigPath>Config\LauncherConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="ICustomerService" service="EInvoice.VJCore.IService.ICustomerService, EInvoice.VJCore"  type="EInvoice.VJCore.ServiceImp.CustomerService, EInvoice.VJCore" lifestyle="transient">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>-->
  </components>
</configuration>
